#!/usr/bin/env bash

# Make vim the default editor.
if [ -f "/Applications/MacVim.app/Contents/bin/vim" ] ; then
  export EDITOR="/Applications/MacVim.app/Contents/bin/vim"
  export VIEWER="/Applications/MacVim.app/Contents/bin/vim"
else
  export EDITOR=vim
fi

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

export PATH=$PATH:$HOME/Dropbox/src
export TIMELOG=$HOME/Dropbox/text/ledger/timelog2019.lgd
export LEDGER_FILE=$HOME/Dropbox/text/ledger/main.ledger
export WIKI_DIR=$HOME/Dropbox/text/wiki
export WIKI_DIR_PROJECTS=$HOME/Dropbox/Projects

export PATH="/usr/local/bin:$PATH"
export PATH="/usr/local/sbin:$PATH"

export PATH="/Library/TeX/texbin/:$PATH"
#export PYTHONHOME=/usr/local/Cellar/python/3.7.0/Frameworks/Python.framework/Versions/3.7
#export PYTHONPATH=$PYTHONHOME/bin
unset PYTHONHOME
unset PYTHONPATH
export JAVA_HOME=/Applications/Android\ Studio.app/Contents/jre/jdk/Contents/Home/
